{{ define "footer"}}
<footer class="container-fluid bg-dark text-warning align-text-center row">
    <section class="col-4">
        <p>test data</p>
    </section>
    <section class="col-4">
        <p>create by btcthirst</p>
    </section>
    <section class="col-4">
        <p>start work with api on 5.03.2021</p>
    </section>
    
</footer>
<!--  Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>

{{ end }}