{{ define "home"}}

{{ template "header"}}
    <main class="container-fluid bg-light row">
        <section class="col-3">
            <p>some else test</p>
            {{ template "sidebar" }}
        </section>
        <section class="col-9">
            <p>only for test data</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti odio ipsum dolorum assumenda soluta nostrum, repellat quasi eius neque tenetur fugit ducimus vel minima impedit, necessitatibus error molestiae repellendus quae!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda rerum beatae ut laudantium dolorum perferendis provident doloremque placeat odit alias maiores blanditiis iste consequatur asperiores omnis, itaque aliquid dolores et.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima voluptatibus molestiae impedit tempore a, incidunt dolorum quaerat blanditiis nisi eum excepturi consequuntur hic quisquam aspernatur laboriosam accusamus tenetur nostrum eius! </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti odio ipsum dolorum assumenda soluta nostrum, repellat quasi eius neque tenetur fugit ducimus vel minima impedit, necessitatibus error molestiae repellendus quae!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda rerum beatae ut laudantium dolorum perferendis provident doloremque placeat odit alias maiores blanditiis iste consequatur asperiores omnis, itaque aliquid dolores et.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima voluptatibus molestiae impedit tempore a, incidunt dolorum quaerat blanditiis nisi eum excepturi consequuntur hic quisquam aspernatur laboriosam accusamus tenetur nostrum eius! </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti odio ipsum dolorum assumenda soluta nostrum, repellat quasi eius neque tenetur fugit ducimus vel minima impedit, necessitatibus error molestiae repellendus quae!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda rerum beatae ut laudantium dolorum perferendis provident doloremque placeat odit alias maiores blanditiis iste consequatur asperiores omnis, itaque aliquid dolores et.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima voluptatibus molestiae impedit tempore a, incidunt dolorum quaerat blanditiis nisi eum excepturi consequuntur hic quisquam aspernatur laboriosam accusamus tenetur nostrum eius! </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti odio ipsum dolorum assumenda soluta nostrum, repellat quasi eius neque tenetur fugit ducimus vel minima impedit, necessitatibus error molestiae repellendus quae!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda rerum beatae ut laudantium dolorum perferendis provident doloremque placeat odit alias maiores blanditiis iste consequatur asperiores omnis, itaque aliquid dolores et.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima voluptatibus molestiae impedit tempore a, incidunt dolorum quaerat blanditiis nisi eum excepturi consequuntur hic quisquam aspernatur laboriosam accusamus tenetur nostrum eius! </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti odio ipsum dolorum assumenda soluta nostrum, repellat quasi eius neque tenetur fugit ducimus vel minima impedit, necessitatibus error molestiae repellendus quae!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda rerum beatae ut laudantium dolorum perferendis provident doloremque placeat odit alias maiores blanditiis iste consequatur asperiores omnis, itaque aliquid dolores et.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima voluptatibus molestiae impedit tempore a, incidunt dolorum quaerat blanditiis nisi eum excepturi consequuntur hic quisquam aspernatur laboriosam accusamus tenetur nostrum eius! </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti odio ipsum dolorum assumenda soluta nostrum, repellat quasi eius neque tenetur fugit ducimus vel minima impedit, necessitatibus error molestiae repellendus quae!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda rerum beatae ut laudantium dolorum perferendis provident doloremque placeat odit alias maiores blanditiis iste consequatur asperiores omnis, itaque aliquid dolores et.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima voluptatibus molestiae impedit tempore a, incidunt dolorum quaerat blanditiis nisi eum excepturi consequuntur hic quisquam aspernatur laboriosam accusamus tenetur nostrum eius! </p>
        </section>
        
    </main>
{{ template "footer"}}

{{ end }}

    